---
name: Tests

on:
  push:
    branches-ignore:
      - main

jobs:
  build:
    name: Build debian package
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: ["ubuntu:22.04"]
    container:
      image: "${{ matrix.target }}"
    steps:
      - name: Install git
        run: |
          apt-get update
          apt-get -y install git

      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Build debian packages
        run: ./build.sh

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: openvswitch-packages
          path: "*.deb"
